@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: lightcyan;
}

.navbar {
    background-color: #222;
    color: #fff;
    padding: 1em 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar img {
    width: 250px; /* Adjusted for better responsiveness */
    height: auto;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2em;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #575757;
}

.techniques {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 2em auto;
    padding: 2em;
    border-radius: 20px;
    max-width: 90%;
    width: 100%;
    text-align: center;
}

.techniques h2 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    padding: 1em;
    background-color: #ff6200;
    border-radius: 10px;
}

.upload-method {
    background-color: white;
    color: #ff6200;
    padding: 2em;
    margin: 1em 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flex to align items nicely */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align */
}

.upload-method h3 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.txtin {
    width: 95%; /* Slightly less than 100% to allow padding */
    height: 100px; /* Fixed height for consistency */
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.speechify-buttons {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap */
    justify-content: space-around; /* Space buttons evenly */
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s ease;
    margin: 0.5em; /* Add margin for spacing between buttons */
}

#speechifyButton {
    background-color: orange;
    color: white;
}

#speechifyButton:hover {
    background-color: darkorange;
}

#downloadButton {
    background-color: #007bff;
    color: white;
}

#downloadButton:hover {
    background-color: #0062cc;
}

#stopButton {
    background-color: orange;
    color: white;
}

#stopButton:hover {
    background-color: darkorange;
}

footer {
    text-align: center;
    background-color: #000;
    color: white;
    padding: 1.5em 0;
    margin-top: 20px;
}
